/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
    max-width: 1350px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* shared style */
.navbar, .banner, footer{
    max-width: 1350px;
    margin: 0 auto;
}
.development, .my-inspiration, .current-target, .next-target, .support{
    max-width: 1070px;
    margin: 75px auto;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 25px;
    text-align: center;
    color: rgba(13,19,33,1);
}
.div-title{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
    text-align: left;
    line-height: 36px;
    color: rgba(13,19,33,.7);
}


/* Header section styles start */
.navbar{
    padding: 20px 80px;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.logo{
    font-size: 22px;
    color: #0D1321;
    font-weight: 800;
}

.navbar-items a button{
    text-decoration: none;
    font-size: 15px;
    color: #0D1321;
    font-weight: 600;
    padding: 12px 15px;
}
.navbar-items button{
    
    border: 1px solid black;
    border-radius: 8px;
}
/* Header section styles end */





/* Banner section styles start */
.banner{
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}
.banner-content{
    width: 700px;
    margin: 0 auto;

}
.banner-content h1{
    font-size: 32px;
    line-height: 42px;
    padding: 8px 0;
    font-weight: 900;
}
.banner-content p{
    font-size: 14px;
    line-height: 20px;
    padding: 18px 0;
}
.banner-content button{
    color: #fff;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
/* Banner section styles end */




/* Development section styles start */
.development{
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(13,19,33,.04);
}
.dev-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.development p{
    line-height: 30px;
}

.dev-cards{
    padding: 20px;
}
.card-item-1, .card-item-2, .card-item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: left;
    margin: 15px 0;
}
.card-item-1, .card-item-3{
    border-radius: 20px 0 0 20px;
    background-image: linear-gradient(to left, transparent , white);
}
.card-item-2{
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(to right, transparent , white);
}
.card-image-1, .card-image-3{
    padding-left: 30px;
}
.card-image-2{
    padding-right: 30px;
}
.card-content{
    padding: 0 20px;
}
.card-content p{
    padding: 15px 0;
    font-size: 18px;
    line-height: 25px;
}
.card-content button{
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #fff;
}
/* Development section styles end */




/* My Inspiration section styles start */
.my-inspiration{
    
}
.inspiration-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.inspiration-content p{
    line-height: 30px;
    padding-bottom: 30px;
}

.inspiration-video{
    max-width: 1070px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.inspiration-video iframe{
    /* width: 1000px; */
    /* height: 500px; */
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

/* My Inspiration section styles end */




/* Current target section styles start */
.current-target{
/* border: 1px solid red; */
}
.current-target-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.current-target p{
    line-height: 30px;
    padding-bottom: 30px;
}

.language-cards{
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 1px solid orange; */
}
.language-card-1{
    width: 300px;
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 30px;
    text-align: left;
    margin-right: 10px;
    background-color: #fff6f4;

}
.language-card-1 img{
    padding-bottom: 15px;
}
.language-card-1 h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.language-card-1 p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.language-card-1 a{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding-bottom: 15px;
}




.language-card-2{
    width: 300px;
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 30px;
    text-align: left;
    margin-right: 10px;
    background-color: #f2f6fe;

}
.language-card-2 img{
    padding-bottom: 15px;
}
.language-card-2 h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.language-card-2 p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.language-card-2 a{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding-bottom: 15px;
}



.language-card-3{
    width: 300px;
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 30px;
    text-align: left;
    margin-right: 10px;
    background-color: #fffdf2;

}
.language-card-3 img{
    padding-bottom: 15px;
}
.language-card-3 h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.language-card-3 p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.language-card-3 a{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding-bottom: 15px;
}
/* Current target section styles end */


/* Next target section styles start */

.next-target-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.next-target p{
    line-height: 30px;
    padding-bottom: 30px;
}
.next-card-1,.next-card-2,.next-card-3{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;

}
.next-image{
    width: 100px;
    margin-right: 30px;
}
.next-content{
    /* width: 500px; */
    text-align: left;
    margin: 0 30px;
}
.next-content h3{
    font-size: 24px;
    font-weight: 600;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.next-target p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.next-content a{
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding-bottom: 15px;
}
/* Next target section styles end */



/* Support section styles start */
.support{
    /* border: 1px solid red; */
    padding: 50px;
    /* background-color: #6DB3F2; */
    background-image: url(../assets/handshake.jpg);
    /* background-image: url(../assets/handshake.jpg),rgba(0, 0, 255, 0.01); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
    background-position: right center, left center;
    border-radius: 8px;
}
.support-content{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

}
.support h1{
    color: #fff;
    padding-bottom: 10px;
}
.support-content p{
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 12px;
    color: #fff;
}
.support-input{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 17px;
}

input[type=submit] {
    width: 20%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Support section styles end */


/* Footer section styles start */
footer{
    height: 50px;
    background-color: rgba(13,19,33,.03);
    border-radius: 8px;
    padding: 50px 0;
    display: flex;
    
}
.footer{
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0px;
    padding-bottom: 60px; */
    
}
.footer-content{
    font-size: 18px;
    font-weight: 600;
    margin-right: 500px;
    
}
.footer-image{

}
.footer-image img{
    margin-left: 10px;
}

/* Footer section styles end */

