/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
    max-width: 1350px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* shared style */
.navbar, .banner, .footer{
    max-width: 1350px;
    margin: 0 auto;
}
.development, .my-inspiration, .current-target, .next-target, .support{
    max-width: 1070px;
    margin: 75px auto;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 25px;
    text-align: center;
    color: rgba(13,19,33,1);
}
.div-title{
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 10px;
    text-align: left;
    line-height: 36px;
    color: rgba(13,19,33,.7);
}


/* Header section styles start */
.navbar{
    padding: 20px 80px;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.logo{
    font-size: 22px;
    color: #0D1321;
    font-weight: 800;
}

.navbar-items a button{
    text-decoration: none;
    font-size: 15px;
    color: #0D1321;
    font-weight: 600;
    padding: 12px 15px;
}
.navbar-items button{
    
    border: 1px solid black;
    border-radius: 8px;
}
/* Header section styles end */



/* Banner section styles start */

.banner{
    text-align: center;
    border: 1px solid red;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}
.banner-content{
    width: 700px;
    margin: 0 auto;

}
.banner-content h1{
    font-size: 32px;
    line-height: 42px;
    padding: 8px 0;
    font-weight: 900;
}
.banner-content p{
    font-size: 14px;
    line-height: 20px;
    padding: 18px 0;
}
.banner-content button{
    color: #fff;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
/* Banner section styles end */


/* Development section styles start */
.development{
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(13,19,33,.04);
}
.development p{
    line-height: 30px;
}

.dev-cards{
    padding: 20px;
}
.card-item-1, .card-item-2, .card-item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: left;
    margin: 15px 0;
}
.card-item-1, .card-item-3{
    border-radius: 20px 0 0 20px;
    background-image: linear-gradient(to left, transparent , white);
}
.card-item-2{
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(to right, transparent , white);
}
.card-image-1, .card-image-3{
    padding-left: 30px;
}
.card-image-2{
    padding-right: 30px;
}
.card-content{
    padding: 0 20px;
}
.card-content p{
    padding: 15px 0;
    font-size: 18px;
    line-height: 25px;
}
.card-content button{
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 600;
}

/* Development section styles end */


/* My Inspiration section styles start */

/* My Inspiration section styles end */


/* Current target section styles start */

/* Current target section styles end */


/* Next target section styles start */

/* Next target section styles end */


/* Support section styles start */

/* Support section styles end */


/* Footer section styles start */

/* Footer section styles end */

